extends layout

block content
    hr
    h3 Êtes-vous sûr de vouloir supprimer #{name} ?
    button.btn.btn-primary(type='submit') Oui.
    padding #{pad}
    button.btn.btn-primary(type='submit') Non.